<body>
    <div id="container">
        <p>汇率监控:</p>
        <div id="content">
            <div>交易币: {{.Name}}</div>
            <div>汇率: {{.Rate}}</div>
            <div>现汇卖出价: {{.CurrentVal}}</div>
            <div>时间: {{.Time}}</div>
        </div>
    </div>
    </div>
</body>
