<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
<div id="container">
    <p>{{.Time}} 更新: <a href="http://www.sse.com.cn/home/webupdate/">{{.Name}}</a></p>
    <div id="content">
        <ol>
            {{range $i, $v := .Articles}}
                <li style="margin-bottom: 10px;"><a href="{{$v.Link}}">{{$v.Time}}-{{$v.Title}}</a></li>
            {{end}}
        </ol>
    </div>
</div>
</div>
</body>
</html>
